table.dbcompare {
    margin-bottom: 25px;
}
div.collapsible table.sticky-header th,
.dbcompare th {
    text-transform: none;
    font-weight: bold;
}
.dbcompare td {
    font-family: Monaco, Courier New, monospace;
    font-size: 10px;
    padding: 3px 10px;
    vertical-align: top;
    white-space: pre;
    max-width: 200px;
    overflow: hidden;
}
.dbcompare td:hover,
.dbcompare td.fixed:hover
{
    outline: 2px solid #888;
}
.dbcompare td.fixed {
    outline: 2px solid #000;
    max-width: none;
}

.dbcompare tr.deleted.odd { background: #FDD }
.dbcompare tr.deleted.even { background: #FCC }
.dbcompare tr.added.odd { background: #DFD }
.dbcompare tr.added.even { background: #CFC }
.dbcompare tr.changed.odd td.changed { background: #DEF }
.dbcompare tr.changed.even td.changed { background: #CDF }
.dbcompare tr.changed.odd td.changed hr.changed { background: #AAA }
.dbcompare tr.changed.even td.changed hr.changed { background: #888 }

h4.collapsible.collapsed {
    color: #AAA;
    border-bottom: 2px solid #BBB;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
div.collapsible.collapsed { display: none; }
table.sticky-header {
    top: 20px !important;
}


span.counts span {
    padding: 0 3px;
}
span.counts span.deleted { color: #F66; }
span.counts span.added { color: #6F6 }
span.counts span.changed { color: #69F }

h4.collapsed span.counts span.deleted { color: #FAA; }
h4.collapsed span.counts span.added { color: #8F8 }
h4.collapsed span.counts span.changed { color: #AAF }
